<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlantUmlEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PlantUmlEditor.Properties.Settings>
            <setting name="PlantUmlJarPath" serializeAs="String">
                <value>d:\soft\plantuml.jar</value>
            </setting>
        </PlantUmlEditor.Properties.Settings>
    </applicationSettings>
</configuration>